{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Titre par défaut{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body> <div> 
    <header>
        {% include 'home/header2.html' %}
        {% include 'home/header1.html' %}
    </header>
<div class="div-image-descrip">
    <!-- Image ajoutée via la balise <img> -->
    <img src="{% static 'Images/1547979452837.jpeg' %}" alt="Image de fond" class="background-img" />

    <main>
        {% block content %}
        {% endblock %}
    </main>
    </div>
</div>
    <footer>
        {% block footer %}
            <p>Pied de page par défaut</p>
        {% endblock %}
    </footer>
</body>

</html>
