<!-- {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static  'css/style.css' %}">
</head>
<body>
    <div class="div-content" style="background-color: aliceblue;">
        <nav class="nav-content">
            <ul class="ul-content">
                <li><a href="">Mathématiques</a></li>
                <li><a href="">Physiques</a></li>
                <li><a href="">Chimie</a></li>
                <li><a href="">Informatique</a></li>
                <li><a href="">Géographie</a></li>
                <li><a href="">Histoires</a></li>
                <li><a href="">Anglais</a></li>
                <li><a href="">Français</a></li>
                <li><a href="">Allemand</a></li>
                <li><a href="">Phylosophie</a></li>
    {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static  'css/style.css' %}">
</head>
<body>
    <div class="div-content" style="background-color: aliceblue;">
        <nav class="nav-content">
            <ul class="ul-content">
                <li><a href="">Mathématiques</a></li>
                <li><a href="">Physiques</a></li>
                <li><a href="">Chimie</a></li>
                <li><a href="">Informatique</a></li>
                <li><a href="">Géographie</a></li>
                <li><a href="">Histoires</a></li>
                <li><a href="">Anglais</a></li>
                <li><a href="">Français</a></li>
                <li><a href="">Allemand</a></li>
                <li><a href="">Phylosophie</a></li>
                <li><a href="">Psychologie</a></li>
                <li><a href="">Sociologie</a></li>
                
            </ul>
        </nav>
        <footer>
            
        </footer>
    </div>
   
</body>
</html>            <li><a href="">Psychologie</a></li>
                <li><a href="">Sociologie</a></li>
                
            </ul>
        </nav>
        <footer>
            
        </footer>
    </div>
   
</body>
</html> -->


