{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static  'css/style.css' %}">

</head>

<body>
    <header>
        <nav >
            <ul class="ul-content">
                <li>
                    <a href="#" style="text-decoration: none;">Scientifiques</a>
                    <ul class="submenu">
                        <li> <a href="#" >Mathématiques</a></li>
                        <li> <a href="#">Pysiques</a></li>
                        <li> <a href="#">Chimie</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="#"style="text-decoration: none;">Technologiques</a>
                    <ul class="submenu">
                        <li> <a href="#">Informatiques</a></li>
                        <li> <a href="#">Electonique</a></li>
                        <li> <a href="#">Mecanique</a></li>
                        <li> <a href="#">Electricité</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="#" style="text-decoration: none;">Littéraires</a>
                    <ul class="submenu">
                        <li> <a href="#">Philosophie</a></li>
                        <li> <a href="#">Litterature</a></li>
                        <li> <a href="#">Histoire</a></li>
                        <li> <a href="#">Anglais</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
</body>

</html>