{% extends 'home/base.html' %}

<body>

    {%block header %}
    {% include 'header.html' %}

    {% endblock %}
    <main>
        {% block content %}
        <div>
            <!-- <div>
                <div style="color: rgb(161, 4, 91);font-weight: bold;font-family: 'Courier New', Courier, monospace;font-size: 10px"> 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ea ducimus consectetur quae
                    provident blanditiis officiis iure quia a repellendus dolorum velit exercitationem quaerat, sapiente
                    eius mollitia impedit! Maiores, repudiandae.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ea ducimus consectetur quae
                    provident blanditiis officiis iure quia a repellendus dolorum velit exercitationem quaerat, sapiente
                    eius mollitia impedit! Maiores, repudiandae.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ea ducimus consectetur quae
                    provident blanditiis officiis iure quia a repellendus dolorum velit exercitationem quaerat, sapiente
                    eius mollitia impedit! Maiores, repudiandae.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ea ducimus consectetur quae
                    provident blanditiis officiis iure quia a repellendus dolorum velit exercitationem quaerat, sapiente
                </div>
            </div> -->
        </div>
        {% endblock %}
    </main>

</body>